<div class="grid grid-nogutter surface-section text-800">
  <div
    class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center"
  >
    <section>
      <span class="block text-4xl font-bold mb-1"
        >AWS SysOps Administrator- Associate Level
      </span>
      <div class="text-3xl text-primary font-bold mb-3">AWS LAB2 hosted on 
        <span class="text-blue-500">{{servername}}</span>
        </div>
      <div class="text-2xl text-secondary font-bold mb-3">Setting up a website on Cloud</div>
      <div class="text-2xl text-secondary font-bold mb-3">Course-end Project 1</div>      
      
    
      <p class="mb-4 text-700 line-height-3">
        <span class="text-2xl font-bold">Description</span>
        <br>
        You are a Cloud engineer. Your company has brought in a new client who
        has got a website. However, they need a web server so that they can run
        their website completely on Cloud. Once the web server is up and
        running, they want you to configure the Cloud so that testing of the web
        server can be completed successfully.
      </p>

      <p class="text-700 font-bold text-2xl line-height-3">
        Steps to Perform:
      </p>
      <div class="line-height-2 text-700 ">
        <ul>
          <li>Create an EC2 instance (OS: Windows 2012 R2 Base)</li>
          <li>Install IIS server role</li>
          <li>Create a static website and check on a localhost</li>
          <li>Create an image of the machine and save the AMI</li>
          <li>Create a new instance using the AMI you have saved</li>
          <li>
            Create a Load Balancer and attach the instances you have done before
          </li>
          <li>Check the DNS name on the browser</li>
        </ul>
      </div>        
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img
      src="assets/images/hero-1.png"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>
</div>
